Adafruit-Blinka==7.2.0
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-seesaw==1.10.8
adafruit-circuitpython-typing==1.4.0
Adafruit-PlatformDetect==3.22.1
Adafruit-PureIO==1.1.9
mysql-connector-python==8.0.28
numpy==1.22.3
pandas==1.4.2
protobuf==3.20.0
pyftdi==0.54.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.1
pyusb==1.2.1
rpi-ws281x==4.3.3
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
